recursive-include scrypt-1.2.1 *.h
recursive-include scrypt-windows-stubs *.h
include README.rst
include LICENSE
include setup.py
include *.txt
include tox.ini
include src/*.c
include scrypt-windows-stubs/*.c
include MANIFEST.in

include scrypt/__init__.py
include scrypt/scrypt.py
include scrypt/tests/__init__.py
include scrypt/tests/ciphertexts.csv
include scrypt/tests/hashvectors.csv
include scrypt/tests/test_scrypt_c_module.py
include scrypt/tests/test_scrypt.py
include scrypt/tests/test_scrypt_py3x.py

# Exclude what we don't want to include
prune build
prune doc/build
prune */__pycache__

global-exclude *.py[cod] *.egg *.egg-info
global-exclude *~ *.bak *.swp
