recursive-include scrypt-1.2.1 *.h
include README.rst
include LICENSE
include src/*.c

include tests/__init__.py
include tests/ciphertexts.csv
include tests/hashvectors.csv
include tests/test_scrypt_c_module.py
include tests/test_scrypt.py
include tests/test_scrypt_py2x.py
include tests/test_scrypt_py3x.py
