name: Build wheel on linux
on: [push]
env:
  CIBW_BUILD_VERBOSITY: 1
  CIBW_TEST_REQUIRES: pytest
  CIBW_TEST_COMMAND: "pytest --pyargs scrypt"
jobs:
  build_wheels:
    name: Build wheels on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Used to host cibuildwheel
      - uses: actions/setup-python@v2

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          # Disable explicitly python 3.11 and building PyPy wheels
          CIBW_BEFORE_ALL: apt-get install libssl-dev
          CIBW_SKIP: cp311-* pp*
          CIBW_PRERELEASE_PYTHONS: False

      - uses: actions/upload-artifact@v2
        with:
          path: wheelhouse/*.whl
 